@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
  }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100vh;
}

.cursorGreen
{
    cursor: url('../img/cursor-green.png'),auto;
}

.cursorBlue
{
    cursor: url('../img/cursor-blue.png'),auto;
}

body
{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points,
.time,
.bestPoints,
.copyRight,
.version,
.help
{
    font-family: 'Press Start 2P';
    color: #fff;
    position: absolute;
    font-size: 16px;
    user-select: none;
}

.points
{
    top: 32px;
    left: 32px;
}

.time
{
    top: 32px;
    right: 32px;
}

.bestPoints
{
    top: 64px;
    left: 32px;
}

.copyRight
{
    bottom: 32px;
    left: 32px;
}

.version
{
    bottom: 64px;
    left: 32px;
}

.help
{
    bottom: 32px;
    right: 32px;
    box-shadow: 0 2px 0 0 #fff;
    cursor: pointer;
}

.help:hover
{
    color: #ff8080;
    box-shadow: 0 2px 0 0 #ff8080;
}